#
# Configuration file for an instrument
#
# Gain is in electrons / ADU (required unless in header)
# RN (read noise) is in electrons (required unless in header)
# LinearityLimit is in ADU

[Telescope]
Gain = 1.6
RN = 10.0
LinearityLimit = 30000
pixel_scale = 0.44
d_primary_mm = 508
d_obstruction_mm = 127
pressure = 700
overwrite = True
data_path = ~/V20Data/Images
#copy_local = /Volumes/VYSOSData/V20/

[Extract]
do_extraction = True
background_box_size = 64
extract_threshold = 7
extract_minarea = 9
fwhm_mina = 1
fwhm_minb = 1

[Astrometry]
force_solve = False
solve_field = /usr/local/bin/solve-field
astrometry_cfg_file = ~/astrometry.cfg
solve_timeout = 150
search_radius = 1
# api_key = pdyonsbculdcjwup

[Photometry]
calibration_catalog = PanSTARRS
calibration_radius = 0.35
calibration_maglimit = 18
local_catalog_path = /Users/vysosuser/V20Data/PanSTARRS_Catalog
target_catalog = PanSTARRS
target_maglimit = 18
accoc_radius = 1
aperture_radius = 2.0

[jpeg]
vmin_percent = 1.0
vmax_percent = 99.5
binning = 2
overplot_extracted = True
overplot_catalog = False
overplot_calibrators = True
overplot_pointing = True
pointing_radius = 40
font_size = 24

[Calibrations]
DirectoryForMasters = /Users/vysosuser/V20Data/Images/MasterCals
MinBiasFrames = 7
MinDarkFrames = 5
